@font-face {
    font-family: NBOLD;
    src: url(./assets/fonts/NBold.otf);
  }
  @font-face {
    font-family: NMedium;
    src: url(./assets/fonts/NMedium.otf);
  }
  @font-face {
    font-family: NRegular;
    src: url(./assets/fonts/NRegular.otf);
  }
  @font-face {
    font-family: NLight;
    src: url(./assets/fonts/NLight.otf);
  }
        



body{
    margin: 0;
    font-family: "NRegular";
    background-color: #141414;
}
#source{
  opacity: .4 !important;
}